:root {
    --primary-color: rgb(0, 45, 66);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(0, 45, 66));
}

/* -- texto -- */
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;
}

/* -- conteúdo -- */
.content {
    position: flex;
    text-align: center;
    margin: 400px;
    transform: translateY(-50%);
}


/* -- cards -- */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row div{
    margin: 25%;
}

.card {
    background: rgb(0, 45, 66);
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(27, 27, 27);
    padding: 40px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 16px;
}


.image {
    padding: 10px;
    max-width: 64px;
    max-height: 64px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
}