.pagina-empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.pagina-empresa img{
    width: 13em;
    height: 13em;
}

.item-empresa{
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 216, 216);
    width:40em;
    border-radius: 10px;
    padding: 0.5em;
} 


background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
background-repeat: no-repeat;
background-size: cover;