.mural{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(0, 45, 66));
}
.mural-titulo span{
    color:#1e649d
}
.mural-titulo {
    color:#ffffff
}
.subtitulo{
    margin-bottom: 0;
    color:#ffffff;
}

.interesse{
    color:#ffffff;
    margin:0;
    font-size: 1rem;
}

.vaga-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-box-pack: center;
    margin-bottom: 4rem;
    list-style: none;
}
.titulo-vaga{
    display: ruby;
}
.vaga-icone{
    margin-right: 0.5rem;
    height: 1.5rem;
}
.vaga-item{
    border: 0.2rem #000000 solid;
    border-radius: 2rem;
    padding: 0.5rem;
   background-color: #fff;
   width: 500px;
   height: 190px;
}
.vaga-item:hover{
    border: 0.2rem #ff0000 solid;
}
.vaga-nome{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid #222;
    justify-content: center;
}
.vaga-descricao{
    font-size: 210px;
}
.vaga-requisitos{
    font-size: 1.2rem;
}
.vaga-salario{
    font-size: 1em;
    color: #333;
}
